{% if status == 'active' %}
    <span class="badge badge-primary" style="font-size: 100%">Active</span>
{% elseif status == 'archived' %}
    <span class="badge badge-secondary" style="font-size: 100%">Archived</span>
{% endif %}